html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #ecf0f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiMenuItem-root {
  font-size: 0.85rem !important;
  line-height: 1.5;
  padding-top: 5px;
}

.MuiInputLabel-outlined.MuiInputLabel-marginDense {
  font-size: 14px !important;
}

.MuiAutocomplete-listbox li, .MuiMenu-list li {
  font-size: 14px;
}

.MuiListItem-root>.MuiCheckbox-root {
  padding: 0px 5px !important;
}